/*
.Button-container{
    color: #fff;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;   
}

.Button-container:hover{
    color: rgb(205,204, 204);
    background: green
}
*/

.k{
    color: #fff;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;  
}
.k:hover{
    color: rgb(205,204, 204);
    background: green
}